#------------------------------------------------------------------------------
# POSTGRESQL CONNECTION
#------------------------------------------------------------------------------

database_url = "postgres://postgres:azerty@yourserver.instace.cloud/speculare?sslmode=require"
# database_max_connection = 10

#------------------------------------------------------------------------------
# AUTH POSTGRESQL CONNECTION (optional, need feature = ["auth"])
#------------------------------------------------------------------------------

# auth_database_url = "postgres://postgres:azerty@yourserver.instace.cloud/speculare?sslmode=require"
# auth_database_max_connection = 10

#------------------------------------------------------------------------------
# API SETTINGS
#------------------------------------------------------------------------------

binding = "0.0.0.0:8080"
# Number of workers for the API server (default to number of logical core)
# workers = 4

#------------------------------------------------------------------------------
# API SECURITY SETTINGS
#------------------------------------------------------------------------------

# https = false
# key_priv = "path/to/sslkey.key"
# key_cert = "path/to/sslkey.cert"

#~~~~~~~~~~~~~~~~~~~~#
# FEATURES = DEFAULT #
#~~~~~~~~~~~~~~~~~~~~#

api_token = "secret_password"

#~~~~~~~~~~~~~~~~~~~~#
# FEATURES = AUTH    #
#~~~~~~~~~~~~~~~~~~~~#

# This cookie_secret has to be 32 char long
# cookie_secret = ""
# cookie_domain = "instance.cloud"