#------------------------------------------------------------------------------
# GLOBAL SETTINGS
#------------------------------------------------------------------------------

alerts_path = ".alerts/"
wss_domain = "yourpgcdc.instance.cloud"

#------------------------------------------------------------------------------
# POSTGRESQL CONNECTION
#------------------------------------------------------------------------------

database_url = "postgres://postgres:azerty@yourserver.instace.cloud/speculare?sslmode=require"
# database_max_connection = 10

#------------------------------------------------------------------------------
# API SETTINGS
#------------------------------------------------------------------------------

binding = "0.0.0.0:8080"
api_token = "secret_password"
# https = false
# key_priv = "path/to/sslkey.key"
# key_cert = "path/to/sslkey.cert"

#------------------------------------------------------------------------------
# SMTP SETTINGS
#------------------------------------------------------------------------------

# smtp_port = 587
# smtp_tls = true
smtp_host = "smtp.gmail.com"
smtp_user = "mail@gmail.com"
smtp_password = "password_super_secret"
smtp_email_sender = "Speculare <alerts@speculare.cloud>"
smtp_email_receiver = "myemail@mail.com"